/* Other rules */
* {
    box-sizing: border-box;
}

#logo {
    height: 100px;
    width: 105px;
    /* background-color: lawngreen; */
}

.container {
    background-color: black;
    margin-bottom: 0;
    padding-left: 30px;
}
h2 {
    color: white;
    font-weight: bold;
    font-size: 30px;
    padding: 20px 0;
}

.carrousel {
    display: flex;
    overflow: hidden;
    overflow-x: scroll;
}
