/* Other rules */
* {
    box-sizing: border-box;
}

#logo {
    height: 100px;
    width: 105px;
}

.container {
    background-color: black;
    margin-bottom: 0;
    padding-left: 50px;
}
.section {
    padding: 10px 0;
}

h2 {
    color: white;
    font-weight: bold;
    font-size: 20px;
    font-family: "Roboto", sans-serif;
    padding: 20px 0;
}

.carrousel {
    display: flex;
    overflow-x: scroll;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

/* Hide scrollbar for Chrome, Safari and Opera */
.carrousel::-webkit-scrollbar {
    display: none;
}

.carrousel img {
    height: 125px;
}
